body{
    background-image: url('pattern.png');
}
.main_box{
    width:1180px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
    
}
h1{
    font-size: 50px;
    padding-left: 29px;
    padding-top: 2%;
    font-family: Tahoma, sans-serif;
}


.sec_box{
    background-color:rgb(184, 184, 184);
    display: flex;
    flex-direction: row;
}
.right{
   
    width:720px;
}
.left{
    width:460px;
    height:300px;
}
.video{
   padding-left: 27px;
   padding-top: 17px;
   
}
h2{
    font-family: Tahoma, sans-serif;
}
p{
    font-family: Tahoma, sans-serif;
    line-height: 25px;
}
.top_main{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.top_box{
    
}
.top-sub{
   
}
.logo{
    padding-top: 34px;
}
.third_box{
    display: flex;
    flex-direction: row;
    background-color: brown;
    justify-content: space-evenly;
    height: 250px;
    align-items: center;
}
.first{

width:270px;
height:210px;

}
.second{

width:270px;
height:210px;
}
.third{

width:270px;
height:210px;
}
.fourth{

width:270px;
height:210px;
}
.panda{
    width:1180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}